/* admin.component.css */
.container {
    margin-top: 20px;
}

.nav-pills .nav-link {
    color: #007bff;
    /* Couleur du lien */
}

.table th,
.table td {
    vertical-align: middle;
}

.btn {
    cursor: pointer;
}

/* Style pour les liens "Update" et "Delete" */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}