.user-reviews,
.stats {
    background-color: #f8f9fa;
    /* Couleur de fond */
    border: 1px solid #ced4da;
    /* Bordure */
    border-radius: 10px;
    /* Coins arrondis */
    padding: 20px;
    /* Espacement intérieur */
    margin-bottom: 20px;
    /* Marge en bas pour séparer les sections */
}