/* styles.css */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* Styles personnalisés */
.components-list {
    padding: 20px;
}

.component-item {
    margin-bottom: 20px;
}

.component-item a {
    text-decoration: none;
    color: #333;
}

.component-detail {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #0056b3;
}

.shopping-cart-icon {
    color: #007bff;
    font-size: 24px;
    margin-right: 5px;
}

.cart-details {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.cart-item {
    margin-bottom: 10px;
}

.cart-total {
    font-weight: bold;
}

/* Affichage des images et des cartes */
.card {
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: auto;
    /* Ajustez la hauteur en fonction de la largeur */
    max-height: 100px;
    /* Hauteur maximale des images */
    object-fit: contain;
    /* Ajustement de la taille de l'image */
    border-radius: 5px 5px 0 0;
    /* Coins arrondis uniquement en haut */
}

.excellent {
    background-color: green;
    border-color: green;
    color: white;
}

.good {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.average {
    background-color: #ffc107;
    border-color: #ffc107;
    color: black;
}

.poor {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

/* CSS pour la section des avis des utilisateurs sous forme de tableau */

.card-footer {
    padding: 0;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

.table .no-reviews {
    text-align: center;
    font-style: italic;
    color: #888;
}

.table th,
.table td {
    border: 1px solid #dee2e6;
}